.custom-body { 
    margin-top: 70px;
}
.form-section {
    background-color: #eee;
    padding: 15px;
}

.modal-body span {
    position:absolute;
    right: 20px;
    z-index: 1000;
    top: 30px;
    font-size: 18px;
    cursor: pointer;
}